<p-dataView #dv [value]="productos">
  <ng-template pTemplate="list" let-products>
    <div class="p-2">
      <div class="grid grid-cols-1 sm:grid-cols-2 bg-white">
        @for (producto of productos; track producto.id_producto; let i = $index)
        {
        <div
          class="flex flex-col lg:flex-row md:align-items-start p-4 product-card m-2 shadow-gray-300 shadow-md"
          [ngClass]="{ 'border-top-1 surface-border': !i }"
        >
          <a
            [routerLink]="['/store/producto', producto.id_producto]"
            routerLinkActive="router-link-active"
            class="shadow-2 xl:mr-3 flex-1"
          >
            <img
              class="w-full sm:w-16rem xl:w-10rem block xl:block mx-auto border-round sm:h-10rem p-1"
              [src]="producto | productoImage"
              [alt]="producto.nom_producto"
              style="min-height: 150px; object-fit: contain; max-height: 200px"
          /></a>
          <div
            class="flex-1 flex flex-col sm:flex-col justify-content-between align-items-center xl:align-items-start gap-4"
          >
            <div
              class="flex flex-col align-items-center sm:align-items-start gap-3"
            >
              <a
                class="text-2xl font-bold text-900"
                [routerLink]="['/store/producto', producto.id_producto]"
                routerLinkActive="router-link-active"
              >
                {{ producto.modelo_producto }}</a
              >
              <span>
                <a
                  [routerLink]="['/store/producto', producto.id_producto]"
                  routerLinkActive="router-link-active"
                  >{{ producto.nom_producto }}</a
                ></span
              >

              <div class="">
                <span class="">
                  <i class="pi pi-tag"></i>
                  <span class="font-semibold">{{
                    producto.marca_producto
                  }}</span>
                </span>
              </div>
            </div>
            <div
              class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
            >
              <span
                class="text-2xl font-semibold bg-primary flex px-2 items-center text-white"
                >{{
                  producto.val_producto | currency : "COP" : "$" : "1.0-4"
                }}</span
              >
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </ng-template>
</p-dataView>
