<p-carousel
  [value]="productos"
  [numVisible]="6"
  [numScroll]="4"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-product pTemplate="item">
    <div
      class="m-2 text-center py-5 px-3 flex flex-col bg-white shadow-gray-200 shadow-sm"
      style="height: 90%"
    >
      <div class="mb-6 flex-1 max-h-[50%]">
        <a
          (click)="actualizarProductos()"
          [routerLink]="['/store/producto', product.id_producto]"
        >
          <img
            [src]="product | productoImage"
            [alt]="product.nom_producto"
            class="w-full h-full"
            style="min-height: 150px; object-fit: contain"
          />
        </a>
      </div>
      <div class="flex-1 flex flex-col justify-between items-center">
        <h3 class="font-semibold">{{ product.modelo_producto }}</h3>
        <p class="text-sm" style="max-height: 40px; overflow: hidden">
          {{ product.nom_producto }}
        </p>
        <h4 class="mb-3 bg-primary w-auto px-2 text-white cursor-pointer">
          {{ product.val_producto | currency : "COP" : "$" : "1.0-4" }}
        </h4>
      </div>
    </div>
  </ng-template>
</p-carousel>
