<div class="grid sm:grid-cols-2">
  <div
    class="col-12 sm:col-6 xl:col-8 flex px-1 sm:px-4"
    style="background-color: white"
  >
    <img [src]="producto?.img_url" alt="" class="" />
  </div>
  <div class="col-12 sm:col flex flex-col items-start p-6">
    <div class="text-left py-3 border-round-sm font-bold">
      <h1 class="text-2xl">{{ producto?.modelo_producto }}</h1>
      <h2 class="text-md font-normal">{{ producto?.desc_producto }}</h2>
    </div>
    <div class="bg-primary text-white px-3 w-auto font-semibold text-lg">
      <span>{{
        producto?.val_producto | currency : "COP" : "$" : "1.0-4"
      }}</span>
    </div>
    <div class="text-left py-3 border-round-sm font-bold">
      <span
        >en 12x
        {{
          formatearPrecio(producto?.val_producto, 12)
            | currency : "COP" : "$" : "1.0-4"
        }}
        sin intereses</span
      >
    </div>
    <div class="grid sm:grid-cols-2 p-6 w-full gap-3">
      <div
        class="btn-primary-outline"
      >
        <p>Comprar ahora</p>
      </div>
      <div
        class="btn-primary"
      >
        <p>Agregar al carro</p>
      </div>
    </div>
  </div>
</div>
