<div class="h-full w-full flex flex-row items-center justify-center bg-white">
  <div class="flex flex-col w-full h-full">
    <h3 class="text-center my-5 text-xl font-semibold">Editar producto</h3>
    <form
      [formGroup]="myForm"
      class="flex flex-col md:flex-row justify-evenly items-center w-full h-full"
    >
      <div
        class="flex-1 flex flex-col items-center justify-evenly h-full w-full px-6 gap-4 pb-6"
      >
        <div class="card flex flex-col w-full border-solid">
          <label for="nombre">Nombre</label>
          <input
            id="nombre"
            type="text"
            pInputText
            class="p-2 border-gray-300 border-[1px]"
            formControlName="nom_producto"
          />
        </div>
        <div class="card flex flex-col w-full border-solid">
          <label for="descripcion">Descripción</label>
          <input
            id="descripcion"
            type="text"
            pInputText
            class="p-2 border-gray-300 border-[1px]"
            formControlName="desc_producto"
          />
        </div>
        <div class="card flex flex-col w-full border-solid">
          <label for="marca">Marca</label>
          <input
            id="marca"
            type="text"
            pInputText
            class="p-2 border-gray-300 border-[1px]"
            formControlName="marca_producto"
          />
        </div>
        <div class="card flex flex-col w-full border-solid">
          <label for="modelo">Modelo</label>
          <input
            id="modelo"
            type="text"
            pInputText
            class="p-2 border-gray-300 border-[1px]"
            formControlName="modelo_producto"
          />
        </div>
        <div class="card flex flex-col w-full border-solid">
          <label for="valor">Valor</label>
          <p-inputNumber
            inputId="integeronly"
            mode="currency"
            currency="COP"
            class="p-2 border-gray-300 border-[1px]"
            [style]="{ width: '100%' }"
            [inputStyle]="{
              height: '100%',
              padding: '0.5rem'
            }"
            formControlName="val_producto"
          />
        </div>
        <div class="card flex flex-col w-full border-solid">
          <label for="imagen">Imagen</label>
          <input
            id="imagen"
            type="text"
            pInputText
            formControlName="img_url"
            class="w-full p-2 border-gray-300 border-[1px]"
          />
        </div>
      </div>
      <div
        class="flex-1 flex flex-col items-center justify-evenly h-full w-full"
      >
        <div class="card w-[50%] h-full min-h-[300px] p-6">
          <img [src]="myForm.controls['img_url'].value" alt="imagen" class="shadow-lg shadow-gray-300 h-full w-full" />
        </div>

        <div class="flex justify-evenly w-full p-5 md:py-0 text-nowrap">
          <p-button
            label="Guardar cambios"
            [disabled]="myForm.invalid"
            (onClick)="onSubmit()"
            class="btn-primary w-[40%]"
          ></p-button>
          <p-button
            label="Cancelar"
            routerLink="/dashboard/products"
            class="btn-primary-outline w-[40%]"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
